body{
  background:#475d62 url(../../wpi.jpeg);

  background-size:fill;   
}

.goat-connect{

}

.login-light {
    
   height:100%;
}

.login-light form {
  max-width:320px;
  width:90%;
  background-color:#ffffff;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#000;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-light .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#AC2B37;
}

.login-light form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}


.login-light form .btn-primary:active:focus {
  background:#b8091b;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
}
.login-light form .btn-primary {
  background:#AC2B37;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-light form .btn-primary:hover, .login-light form .btn-primary:active {
  background:#751d26;
  outline:none;
}
.login-light form .signUpAthlete, .login-light form .signUpAlumni {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}
.login-light form .signUpAthlete:hover, .login-light form .signUpAlumni:hover,.login-light form .signUpAthlete:active, .login-light form .signUpAlumni:active{  
  opacity:1;
  text-decoration:none;
}

.login-light form .btn-primary:active {
  transform:translateY(1px);
}

